html {
	scroll-behavior: smooth;
}

/*Add padding and margin to space out the page.
Make the font larger too.*/
body{
	margin: 0;
	padding: 0;
	font-size: 20pt;
	font-family: "Montserrat", "sans-serif";
	cursor: url(../curser/finger.png), auto;  
}

#about-upe {
	object-fit: cover;
	width: 100%;
  }

header {
	background-color: white;
	background-position: white;
	text-align: center;
}

header {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

header img {
	padding-top: 20px;
	width: 200px;
	height: 200px;
	margin: auto;
}

header h1 {
	padding-top: 20px;
	font-size: 50px;
	font-weight: bold;
}

p {
	font-size: 25px;
	color: #00274C;
}

a:link {
	color: #00274C;
}

a:hover{
	box-shadow: 12px 12px 2px 1px #00274C;
  	color: white;
}

a:visited{
	color:#00274C;
	font-weight: 900;
}

#main {
	font-size: 20px;
	margin: 10px;
	padding: 10px;
	width: 85%;
	margin: 0 auto;
}

h1 {
	font-size: 50px;
	line-height: 1;
	padding: 50px 0;
	text-align: center;
	color: #00274C;
}

h2{
	font-size: 32px;
	line-height: 1.5;
	text-align: center;
	color: #00274C;
	padding:20px;
  }

  h3{
	font-size: 30px;
	line-height: 1;
	padding: 50px 0;
	text-align: center;
	color: #00274C;
  }

  a.skip-to-main{
    left: 0;
    padding: 7px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -50px;
}

/* .fa-computer-classic:before {
    content: "\f7b6";
} */

  .skip-to-main a:visited{
	color:blue;
  }

  nav li{
	display:inline;
	padding-right:20px;
  
  }

  .fa-solid, .fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}
  
  /* nav{
	display: flex;
	padding: 25px 0; 
	text-align: left;
	justify-content: flex-end;
	flex-wrap: wrap;
  } */

  nav{
    display: flex;
    flex-direction: column;
    padding: 25px 0; 
    align-items: center;
    flex-wrap: wrap;
	}

  .navitem a{ 
	color: #808080;
  }

  .navitem{
	display: flex;
	font-size: 15px;
}

.logos{
display: grid;
grid-template-columns: auto;
grid-template-rows: auto auto auto ;
grid-column-gap: 15px;
grid-row-gap: 15px;
/* height: auto; */
width: 90%;
margin: 0 auto;
margin-bottom: 15px;
justify-items: center;
}

  .active a{
    font-weight: 900;
    color: #00274C;
    text-decoration: underline #00274C;
}

  footer{
	background-color: white;
	padding-top: 30px;
	padding-bottom:30px;
	text-align: center;
  }

  footer p{
	color: #00274C
  }

  .looking-for {
	background-color: #00274C;
  	margin: 5px;
  	padding: 20px;
  }

  .looking-for h3 {
	font-size: 32px;
	line-height: 1;
	padding: 50px 0;
	text-align: center;
	color: white;
  }

  .looking-for p {
	font-size: 16px;
	line-height: 1;
	padding: 50px 0;
	text-align: center;
	color: white;
  }

  .members {
	margin: 12px;
	background: #fff;
	flex-basis: 250px;
  }

  .team{
	min-height: 300px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  }

  .members h2{
	font-size: 25px;
	padding: 20px;
	line-height: 1;
	text-align: center;
	color: #00274C;
  }

  .members h3{
	font-size: 20px;
	padding: 20px;
	line-height: 1;
	text-align: center;
	color: #00274C;
  }

  .students-companies {
	border: 10px solid #00274C;
	border-radius: 15px;
	margin: 5px;
	padding: 20px;
  }

  /* .logos{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto;
	grid-column-gap: 15px;
	grid-row-gap: 15px;
	/* height: auto; maybe get rid of */
	/* width: 90%;
	margin: 0 auto;
	margin-bottom: 15px;
  } */ 

  #future-careers{
	text-align: center;
  }

  .background-w-text {
	background-image: url("../images/diverse_meeting.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-color: #cccccc;
  }

  .background-w-text h1 {
	color: white;
  }

  .background-w-text h2 {
	color: white;
  }

  /* media query for tablet */
  @media screen and (min-width: 760px){

	.skip-to-main:focus {
        left: 0px;
        top: 20px;
    }

	.logos{
		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto auto auto;
		grid-column-gap: 15px;
		grid-row-gap: 15px;
		/* height: auto; */
		width: 90%;
		margin: 0 auto;
		margin-bottom: 15px;
	  }

	nav{
		display: flex;
		padding: 25px 0; 
		text-align: left;
		justify-content: flex-end;
		flex-wrap: wrap;
	  }

	  #compsci, #SI, #design, #other{
		width:55%;
	  }

	/* .navitem{
		display: flex;
		font-size: 15px;
  }

  .logos{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto;
	grid-column-gap: 15px;
	grid-row-gap: 15px;
	/* height: auto; get rid of maybe */
	/* width: 90%;
	margin: 0 auto;
	margin-bottom: 15px; */
  /* } */ 
}

/* media query laptop */
@media screen and (min-width: 1024px){

	.skip-to-main {
        display: inline-block;
    }

    .skip-to-main:visited {
        color: blue;
    }

	.gallery{
	  display: grid;
	  grid-template-columns: auto auto auto auto;
	  grid-template-rows: auto auto auto;
	  grid-column-gap: 15px;
	  grid-row-gap: 15px;
	  height:auto;
	  width: 90%;
	  margin: 0 auto;
	  margin-bottom: 15px;
	}
  
	nav li{
	  display:inline;
	  padding-right:60px;
	
	}
  }

.rotate {
	animation: rotation 8s infinite linear;
}

.rotate {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

@keyframes rotation {
	0% { transform: rotate(0deg); }
	100% {transform: rotate(359deg);}
}

@media (prefers-reduced-motion:reduce){

	.skip-to-main {
        -webkit-transition: initial;
        transition: initial;
    }

	.rotate{
	  animation: none;
	}

	.flip-card:hover .flip-card-inner,  .flip-card-back,
.flip-card:focus .flip-card-inner,
.flip-card:focus-within .flip-card-inner,
.flip-card:active .flip-card-inner,
.flip-card-click:focus .flip-card-inner,
.flip-card-click:active .flip-card-inner,
.flip-card-click.flipped .flip-card-inner {
  transform: rotateY(0deg);
  transition: none;
  border: none;
}

  }



.contact-body {
    background-color: #444442;
    padding-top: 85px;
}

.contact-row h1 {
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 72px;
    color: white;
    text-align: center;
}

.contact-row h4 {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
}

#compsci, #SI, #design, #other{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  }

  .flip-card {
    margin: auto;
    background-color: transparent;
    width: 300px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    
    perspective: 1000px; 
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    /* text-align: center; */
    transition: transform 0.8s;
    transform-style: preserve-3d;
    margin-right: auto;
    margin-left: auto;
  }
  
  .flip-card-front{

    margin-right: auto;
    margin-left: auto;
  }

  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    margin-right: auto;
    margin-left: auto;

  }



  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    color: #000;
    font-size: 30px;
  font-family: "Georgia", "Times New Roman";
  margin-right: auto;
    margin-left: auto;
    
  }



  .flip-card:focus .flip-card-inner,
  .flip-card:focus-within .flip-card-inner,
  .flip-card:active .flip-card-inner,
  .flip-card-click:focus .flip-card-inner,
  .flip-card-click:active .flip-card-inner,
  .flip-card-click.flipped .flip-card-inner {
    transform: rotateY(180deg);
    
    margin-right: auto;
    margin-left: auto;
  }

  .flip-card-back {
  
	margin:auto;
	 transform: rotateY(180deg);
   }

   .flip-card {
	display: flex;
	flex-direction: row;
	justify-content: center;
  }

